html {
	box-sizing: border-box;
	font-family: "Roboto", Sans-Serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
	background-color: black;
	background-image: url("img/audience.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.resultContainer {
  background-color: rgba(255,255,255,0.6);
	border: 1px solid lightgray;
  border-radius: 25px;
  height: 300px;
  overflow: auto;
	margin-top: 25px;
  padding: 0;
}

.confirmQueryContainer {
  background-color: rgba(255,255,255,0.6);
	border: 1px solid lightgray;
  border-radius: 25px;
  height: 600px;
  margin-top: 25px;
  padding: 5px;	
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0;
}

.searchInput {
	border: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 40px;
	padding-left: 10px;
	width: 60%;
}

.searchButton {
	border: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 40px;
	padding-right: 10px;
	width: 20%;
}

footer {
	background-color: black;
	color: white;
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding-top: 0px;
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
}

#yt-player {
	width: 80%;
}

#wiki-player-song {
	width: 100%;
}

#wiki-player-artist {
	width: 100%;
}

#seatgeek-player {
	width: 100%;
}

.tourResults > iframe {
	height: 300px;
}

.infoResults > iframe {
	height: 300px;
}

.artistResults > iframe {
	height: 300px;
}

#preview-player {
	width: 80%;
}

.watchResults {
	text-align: center;
}

.infoResults {
	text-align: center;
	overflow: hidden;
}

.meaningResults {
	text-align: center;
}

.options {
	display: inline-block;
	width: 50%;
	height: 190px;
	padding: 0;
}

.options:hover, .options:focus {
	background: rgba(70,115,184,0.6);
}

.optionOne, .optionThree, .optionFive {
	float: left;
}

.optionTwo, .optionFour, .optionSix {
	float: right;
}

.options > h3, .options > h4, .options > p {
	font-size: 12px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.options > h4 {
	margin-bottom: 15px;
}

.options > h3 {
	margin-top: 15px;
}

.confirmTitle {
  font-size: 20px;
	display: block;
	width: 100%;
  text-align: center;
}