html {
	box-sizing: border-box;
	font-family: "Roboto", Sans-Serif;
}

*, *:before, *:after {
  	box-sizing: inherit;
}

.background {
	background-color: black;
	background: url("img/audience.jpg") no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}

label {
  	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px;
}

fieldset {
  	border: 0 none;
  	padding: 0;
  	margin: 0;
}

.resultContainer {
  	background-color: rgba(255,255,255,0.6);
	border: 1px solid lightgray;
  	border-radius: 25px;
  	height: 640px;
	margin-top: 25px;
	padding: 0;  
	position: relative;
}

.welcomeContainer {
	height: 640px;
  	margin-top: 50px;
  	padding: 0;  
  	position: relative;
  	text-align: center;
}

.welcomeContainer > p {
	font-family: 'Expletus Sans', cursive;
	font-size: 3vh;
	text-shadow: 0 2px 0 black;
	color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.overflowYes {
	overflow: hidden;
}

.overflowYes:hover {
	overflow: auto;
}

.overflowNo {
	overflow: hidden;
}

.lastContainer {
	margin-bottom: 85px;
}

.infoStyle {
	font-family: 'Andika', sans-serif;
	font-size: 18px;
	text-shadow: 0 1px 0 gray;
}

.searchContainer {
	font-size: 0;
}

.searchInput {
	font-size: 16px;
	border: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 40px;
	padding-left: 10px;
	width: 70%;
	border: 1px solid lightgray;
	padding-bottom: 3px;
}

.searchButton {
	font-size: 16px;
	border: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 40px;
	padding-right: 10px;
	width: 30%;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-family: 'Expletus Sans', cursive;
	border: 1px solid lightgray;
}

.searchButton:hover, .searchButton:focus {
	background: rgba(70,115,184,0.6);
	cursor: pointer;
}

footer {
	background-color: rgba(0,0,0,0.6);
	color: white;
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding-top: 0px;;
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
}

#yt-player {
	width: 80%;
	height: 300px;
}

.firstYtPlayer {
	margin-top: 25px;
}

#wiki-player-song {
	width: 100%;
	margin-top: 30px; 
}

#wiki-player-artist {
	width: 100%;
	margin-top: 30px;
}

#seatgeek-player {
	width: 100%;
	margin-top: 30px;
}

.tourResults > iframe {
	height: 640px;
}

.infoResults > iframe {
	height: 640px;
}

.artistResults > iframe {
	height: 640px;
}

.watchResults {
	text-align: center;
	padding-top: 20px;
}

.infoResults {
	text-align: center;
	overflow: hidden;
}

.meaningResults {
	text-align: center;
}

.options {
	display: inline-block;
	width: 50%;
	height: 203.33px;
	padding: 0;
	text-align: center;
}

.options:hover, .options:focus {
	background: rgba(70,115,184,0.6);
	cursor: pointer;
}

.optionOne, .optionThree, .optionFive {
	float: left;
}

.optionTwo, .optionFour, .optionSix {
	float: right;
}

.options > h3, .options > h4, .options > p {
	font-size: 12px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.options > h4 {
	margin-bottom: 10px;
}

.options > h3 {
	margin-top: 15px;
}

.optionOne, .optionTwo {
	margin-top: 30px;
}

h1 {
	font-family: 'Expletus Sans', cursive;
	font-size: 30px;
	display: inline-block;
	width: 50%;
	text-align: left;
	margin-top: 10px;
	float: left;
	cursor: pointer;
}

header {
	background-color: rgba(0,0,0,0.6);
	color: white;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: right;
	padding-top: 0px;
	z-index: 1;
}

section {
	position: relative;
	top: 70px;
}

.miscResults {
	padding-top: 25px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

.miscResults > ul {
	text-align: left;
	list-style-type: none;
}

.resultTitles {
	background-color: rgba(0,0,0,0.6);
	height: 30px;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	text-align: center;
	font-family: 'Expletus Sans', cursive;
	padding-top: 6px;
	font-size: 18px;
	position: absolute;
	width: 100%;
}

.lyricsStyle {
	font-family: 'Expletus Sans', cursive;
	margin-top: 40px;
	font-size: 15px;
	text-shadow: 0 1px 0 gray;
}

.lyricsResults {
	text-align: center;
}

.footerStyle {
	font-family: 'Expletus Sans', cursive;
}

img.artworkImg {
	border-radius: 25px;
	margin-top: 25px;
}

.options > p > img {
	border-radius: 25px;
}

.previewPlayer {
	width: 100%;
	padding-top: 15px;
	margin-bottom: 12px;
}

form#nav-bar {
	width: 50%;
	float: right;
	margin-top: 14px;
	font-family: 'Expletus Sans', cursive;
}

select {
	border-radius: 25px;
	padding-left: 10px;
	cursor: pointer;
}