html {
  box-sizing: border-box;
  font-family: "Roboto", Sans-Serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

label {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.searchContainer {
	border: 1px solid lightgray;
}